<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{{.Site.Title}}</title>

<link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<link href="/css/normalize.css" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Baumans' rel='stylesheet' type='text/css'/>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta name="description" content="Hier gibt's Informationen über das Coderdojo-Feriencamp" />
</head>

<body>
<!-- header mit Logo -->
{{ partial "header.html" . }}
<!-- Navigation -->
{{ partial "navigation.html" . }}


<!-- großes Bild im oberen Bereich -->
    <div class="top-image"></div>
    <!-- Content - Inhalt mit Sidebar -->
    <div id="wrapper">
        <div class="content">        
            <article>
                <h1>Willkommen beim CoderDojo-Feriencamp!</h1>                           
                <img src="images/josephs.jpg"> 
                <p>Im Coderdojo-Feriencamp kannst Du tolle Dinge erleben! Es gibt viele verschiedene Projekte, die Du hier mit Mentoren umsetzten kannst.</p>           
            </article>    
        </div>
        {{ partial "aside.html" . }}
    </div>
    <!-- Bottom - Unterer Bereich -->
    <section class="bottom-a">
        <div id="wrapper">
            <h2>Wer ist dabei? Version 1</h2>
        </div>
        <div id="wrapper">
            {{ range .Data.Pages }}
            {{if eq .Type "teilnehmer" }}
            {{ partial "teilnehmer.html" . }}
            {{end}}
            {{ end }}
        </div>
    </section>
    <section class="bottom-a">
        <div id="wrapper">
            <h2>Wer ist dabei? Version 2</h2>
        </div>
        <div id="wrapper">
            <h3><a href="teilnehmer/">Zur Liste der Teilnehmer</a></h3>
        </div>
    </section>
    <section class="bottom-b">
        <div id="wrapper">
            <div class="left">
                <h2>Wie war's?</h2>
                <p>Hier ein Einblick in unser Feriencamp.</p>
            </div>
            <div class="right">
                <video width=100% controls poster="images/standbild.jpg" autobuffer controls>
                    <source src="media/video.webm" type="video/webm">
                    <source src="media/video.ogg"  type="video/ogg">
                    <source src="media/video.mp4" type="video/mp4">
                    <div>Schade – hier käme ein Video, wenn Ihr Browser HTML5 Unterstützung hätte, wie z.B. der aktuelle Firefox</div>
                </video>
            </div>
        </div>
    </section>
    <!-- Footer -->
{{ partial "footer.html" . }}
</body>
</html>